.DS_Store
*.xcodeproj/project.xcworkspace/xcuserdata/*.xcuserdatad/*
*.xcodeproj/project.xcworkspace/xcuserdata/*
*.xcodeproj/xcuserdata
*.xcworkspace/xcuserdata
*.xcworkspace/xcuserdata/*
*.xcworkspace/xcshareddata/*
*.xcworkspace/xcshareddata
Pods/
Pods/*
*~
.bundle/
/vendor
*.app.dSYM.zip
*.ipa
Package.itmsp/*
fastlane/report.xml
fastlane/README.md
